
@{
    ViewData["Title"] = "Generate";
}

<h1>Generate</h1>
<form action="/confrimgenerate" method="post">
    <label>长链接:</label><input type="text" name="url" />
    <input type="submit" value="提交" />
</form>

<a href="@ViewBag.shortUrl" target="_blank">短链接</a>
